



    nav.sticky {
        position: sticky;
        top: 0;
        padding: 0px;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(240, 161, 34);
        text-align: center;
        border-radius: 10px;
        width: 1000px;
        left: 30%;
    }

    #back {
        position: absolute;
        top: 10px;
        padding: 0px;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(240, 161, 34);
        text-align: center;
        border-radius: 10px;
        width: 500px;
        left: 40%;
    }
    

    a.pseudo1 {
        background-color: rgb(14, 46, 255);
        display: inline-block;
        width: 90px;
        height: 20px; 
        padding: 10px;
        margin: 20px 40px 20px 40px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }

    a.pseudo2 {
        background-color: rgb(14, 46, 255);
        display: inline-block;
        width: 120px;
        height: 20px; 
        padding: 10px;
        margin: 20px 40px 20px 40px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    a.pseudo3 {
        background-color: rgb(14, 46, 255);
        display: inline-block;
        width:270px;
        height: 20px; 
        padding: 10px;
        margin: 20px 40px 20px 40px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }


    a.pseudo4 {
        background-color: rgb(14, 46, 255);
        display: inline-block;
        width:180px;
        height: 20px; 
        padding: 10px;
        margin: 20px 40px 20px 40px;
        color: white;
        border-radius: 25px;
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }




    a.pseudo1:hover {
    color: orange;
    }

    a.pseudo2:hover {
        color: orange;
        }

    a.pseudo3:hover {
            color: orange;
            }

    a.pseudo4:hover {
        color: orange;
    }
    
    body {
        background-color:rgb(250, 246, 237);
    }


    h1 {
        text-align:center;
        color: white;
        font-family:Lucida Sans, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }


    .p1 {
        font-weight:bolder;
        font-size:larger;
        text-align:center;
    }


    .p2 {
        text-align: center;
    }

    a.p3 {
        position: absolute;
        left: 45%;
        color:rgb(14, 46, 255);
        font-weight: bolder;
        font-size: larger;
        font-family: Verdana, Geneva, Verdana, sans-serif;
    }

    a.p3:hover {
        color:orange;
    }

    a.p4:hover {
        color: orange;
    }


    a.p5:hover {
        color: orange;
    }

    a.p6:hover {
        color: orange;
    }

    a.p4 {
        position: absolute;
        left: 45.3%;
        color:rgb(14, 46, 255);
        font-weight: bolder;
        font-size: larger;
        font-family: Verdana, Geneva, Verdana, sans-serif;
    }
    


    a.p5 {
        position: absolute;
        left: 43.3%;
        color:rgb(14, 46, 255);
        font-weight: bolder;
        font-size: larger;
        font-family: Verdana, Geneva, Verdana, sans-serif;
    }


    a.p6 {
        position: absolute;
        left: 42.9%;
        color:rgb(14, 46, 255);
        font-weight: bolder;
        font-size: larger;
        font-family: Verdana, Geneva, Verdana, sans-serif;
    }

    .img1 {
        position:absolute;
        left: 22%;
        top: 11%;
    }


    #img2 {
        position:absolute;
        left: 22%;
        top: 1100px;
    }


    #img3 {
        position:absolute;
        left: 22%;
        top: 1840px;
    }
    

    #img4 {
        position:absolute;
        left: 22%;
        top: 2600px;
        padding-bottom: 20px;
    }


    .html1 {
        position:absolute;
        left: 17%;
        top: 11%;
    }


    #html2 {
        position:absolute;
        left: 22%;
        top: 850px;
    }


    #html3 {
        position:absolute;
        left: 22%;
        top:2100px;
    }
    

    #html4 {
        position:absolute;
        left: 22%;
        top: 2900px;
    }


    #html5 {
        position:absolute;
        left: 22%;
        top: 3700px;
    }


    #html6 {
        position:absolute;
        left: 22%;
        top: 4500px;
        padding-bottom: 20px;
    }
    

    #sqs1 {
        position:absolute;
        left: 22%;
        top: 2700px;
    }


    #sqs2 {
        position:absolute;
        left: 22%;
        top: 3500px;
        padding-bottom: 20px;
    }


    #sqs3 {
        position:absolute;
        left: 22%;
        top:1900px;
    }

    #sqs4 {
        position:absolute;
        left: 22%;
        top:950px;
    }


    #site1 {
        position:absolute;
        left: 22%;
        top: 950px;
    }


    #computer {
        position:absolute;
        left: 28.5%;
        top:550px;
        padding-bottom: 20px;
    }

    #press {
        position:absolute;
        left: 22%;
        top: 3700px;
        padding-bottom: 20px;
    }


    .box {
        background-color: white;
        display:block;
        position:absolute;
        top:205px;
        left: 34%;
        width: 600px;
        height: 450px;
        border: 5px solid orange; 
        padding: 40px;
        margin: 20px 40px 20px 40px;
        border-radius: 10px;
        
    }

    #div {
        font-size:30px;
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
/*
    h1 {
        color:blueviolet;
    }


    h2 {
        background: yellowgreen;
    }


    h3 {
        font-size: 30px; 
    }


    h4 {
        text-align: center;
    }


    .box {
        background-color: lightskyblue;
        display: inline-block;
        width: 200px;
        height: 30px;
        border: 20px solid black; 
        padding: 40px;
        margin: 20px 40px 20px 40px;
    }



    a.pseudo:hover {
        color: salmon;
        font-size: 30px;
    }



    #absoluteparagraph {
        position: absolute;
        left: 200px;
        right: 300px;
        top: 700px;
        color: red;
    }



    #google {
        padding: 5px;
        color: lightgreen;
        font-family: Impact, sans-serif;
        text-decoration: none;
    }


    .container1 {
        background-color: brown;
        display: inline-block;
        color:white;
        padding: 5px;
    }




    .container2 {
       font-family: 'Lucida Sans', 'sans-serif';
       font-weight: bolder;
       font-style: italic;
    }



    .container3 p {
        color: purple;
        background-color: lightgreen;
        display:inline-block;
        animation-name: hello; 
        animation-duration: 6s;
    }


    @keyframes hello {
        from {background-color: lightgreen;}
        to {background-color: orange;}
    }




    .container3 h3 {
        font-size:20px;
        font-weight: lighter;
    }


    .container3 h4 {
        text-align: left;
        font-weight: lighter;
        font-size: 20px;
    }
















/*


    a.pseudo:visited {
    color: blue;
    }

    a.pseudo:hover { 
        color:red;
    }

    a.pseudo:active {
        color: green;
    }


    div {
        background: rgba(222, 181, 244, 0.913);
        display: inline-block;
    }


    span {
        background: greenyellow;
        height: 50px;
        width: 300px;
        display: block;
    }


    div.position {
        position: absolute;
        left: 100px;
        right: 400px;
        top: 600px; 
    }


    nav.sticky {
        position: sticky;
        top: 0;
        padding: 3px;
        background-color: rgb(255, 255, 255);
        border: 5px solid rgb(247, 166, 166);
    }


    body {
        font-family: Arial, Helvetica, sans-serif;
    }


    .button1 {
        background-color: green;
        color: white;
        padding: 5px 5px;
        text-decoration: none;
    }
















    .box {
        background-color: rgb(228, 220, 220);
        width: 400px;
        border: 15px solid rgb(54, 242, 70);
        padding: 50px;
        margin: 50px;
    }


    p {
        background-color: rgb(208, 241, 211);
        color: rgb(120, 35, 240);
        margin: 40px 1000px 40px 50px;
    }
*/